.main-image-wrapper {
  padding: 37px 60px 0 60px;
  display: flex;
  justify-content: space-between;

  .motto {
    color: #535353;
    font-weight: 700;
    font-size: 45px;
    width: 160px;
  }

  .main-image {
    width: 650px;
    height: 650px;
  }

}

