<header>
  <div class="navigation">
    <a [routerLink]="['']" class="logo">My Kitchen</a>

    <nav>
      <div class="link-wrapper">
        <a class="links" [routerLink]="['']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Home
          <div class="point"></div>
        </a>

      </div>

      <div class="link-wrapper">
        <a class="links" [routerLink]="['about']" routerLinkActive="active-link">About Us
          <div class="point"></div>
        </a>
      </div>

      <div class="link-wrapper">
        <a class="links" [routerLink]="['menu']" routerLinkActive="active-link">Menu
          <div class="point"></div>
        </a>
      </div>



    </nav>
  </div>
</header>
