<section class="main-image-wrapper">
 <app-current-dish></app-current-dish>
</section>


<div class="dishes" >
  <div class="dish-info" *ngFor="let dish of data | slice:0:4" (click)="changeSelectedDish(dish)" >
    <img class="dish-image" src={{dish.img}}>
    <p class="name">{{dish.name}}</p>
    <p class="calories">{{dish.calories}} calories</p>

    <div class="time-and-person-wrapper">
      <div class="time-wrapper">
        <p class="time">Time</p>
        <p>{{dish.time}} minutes</p>
      </div>

      <div class="person-wrapper">
        <p class="person">Person</p>
        <p>{{dish.max_person}} Person</p>
      </div>
    </div>

    <p class="price">{{dish.price}} ₴</p>
  </div>

</div>
