<section class="main-image-wrapper">
  <p class="motto">SIMPLE</p>
  <img class="main-image" src="https://s3-alpha-sig.figma.com/img/df46/a446/fda0846480f08865e867952602a96dfa?Expires=1664755200&Signature=TCOGLkuneidpgT4eXBB0-UlZu~Vx3fvAkQ-DJtX41bNgVLQOhXaN2UMKNZaRRjpA7mEdFgjUC9MGgx-WxXRagme0QnAMW6PHMetws96Qj1UIjx0CoW5JoqPGHaHT0Tbgb0QO1oPp5SYExzsXshJECbdfUGwu3pGVHeZ31q1ElwSvjPHEht1J61NT5CNiQg~HpoQHj5ZCOtgCbNyC0bKJACAf~P8MByuvx6-aR0UoTn~Jv5ua0Dq5WCeBThbPMUIqqR7sYsAY7LHJmBM0Ho-LyfrIp28PrCLXj4csr~SgR18fYmWE1LDOtxPnAcMkr2BYkSa3321EeNiwr7Sro-EsAA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="">
  <p class="motto">QUICK</p>
</section>


<div class="dishes">
  <div class="dish-info">
    <img class="dish-image" src="https://s3-alpha-sig.figma.com/img/0be2/5a36/ae91fd60ad05c4e9165b2fb778165e71?Expires=1664755200&Signature=V7-nL1bjuzbX~3PTBmJdWKtVMg8RyuOJRCZ7dH6PE30jTd4XRhPvGgt0E0DX0kpY~LFsYFSGakZA0CT37MASW--K4zTG-p2dlbpgIoqv-H1n0EzDMDkrGEb7SXJMkjtnVeC8TH4GG91aCzfJQ~~rQC3If6g-oOwA-GAQpuPaJoeA0bmujo-XotWaSanCMBSIgmD6fA6TqZoAM2gyr5xjgYkNipjM3HNMa2C6RfzSW3HUcF6LOw6Z~pBFEmhfRY0J3X9J-oW~Y1EcxhuC5w71IVjB84hq~RXU8YkZOQFG8c2QkQX76SAmkhnRdtbcm9n7f0c7B3syNkHb-tv3ozAASA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="">
    <p class="name"> Salmon Salad</p>
    <p class="calories">150 calories</p>

    <div class="time-and-person-wrapper">
      <div class="time-wrapper">
        <p class="time">Time</p>
        <p>15 minutes</p>
      </div>

      <div class="person-wrapper">
        <p class="person">Person</p>
        <p>2 Person</p>
      </div>
    </div>

    <p class="price">price</p>
  </div>

  <div class="dish-info">
    <img class="dish-image" src="https://s3-alpha-sig.figma.com/img/0be2/5a36/ae91fd60ad05c4e9165b2fb778165e71?Expires=1664755200&Signature=V7-nL1bjuzbX~3PTBmJdWKtVMg8RyuOJRCZ7dH6PE30jTd4XRhPvGgt0E0DX0kpY~LFsYFSGakZA0CT37MASW--K4zTG-p2dlbpgIoqv-H1n0EzDMDkrGEb7SXJMkjtnVeC8TH4GG91aCzfJQ~~rQC3If6g-oOwA-GAQpuPaJoeA0bmujo-XotWaSanCMBSIgmD6fA6TqZoAM2gyr5xjgYkNipjM3HNMa2C6RfzSW3HUcF6LOw6Z~pBFEmhfRY0J3X9J-oW~Y1EcxhuC5w71IVjB84hq~RXU8YkZOQFG8c2QkQX76SAmkhnRdtbcm9n7f0c7B3syNkHb-tv3ozAASA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="">
    <p class="name"></p>
    <p class="calories"></p>

    <div class="time-and-person-wrapper">
      <div class="time">
        <p>Time</p>
        <p class="time">15</p>
      </div>

      <div class="person">
        <p>Person</p>
        <p class="person">2</p>
      </div>
    </div>

    <p class="price">price</p>
  </div>

  <div class="dish-info">
    <img class="dish-image" src="https://s3-alpha-sig.figma.com/img/0be2/5a36/ae91fd60ad05c4e9165b2fb778165e71?Expires=1664755200&Signature=V7-nL1bjuzbX~3PTBmJdWKtVMg8RyuOJRCZ7dH6PE30jTd4XRhPvGgt0E0DX0kpY~LFsYFSGakZA0CT37MASW--K4zTG-p2dlbpgIoqv-H1n0EzDMDkrGEb7SXJMkjtnVeC8TH4GG91aCzfJQ~~rQC3If6g-oOwA-GAQpuPaJoeA0bmujo-XotWaSanCMBSIgmD6fA6TqZoAM2gyr5xjgYkNipjM3HNMa2C6RfzSW3HUcF6LOw6Z~pBFEmhfRY0J3X9J-oW~Y1EcxhuC5w71IVjB84hq~RXU8YkZOQFG8c2QkQX76SAmkhnRdtbcm9n7f0c7B3syNkHb-tv3ozAASA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="">
    <p class="name"></p>
    <p class="calories"></p>

    <div class="time-and-person-wrapper">
      <div class="time">
        <p>Time</p>
        <p class="time">15</p>
      </div>

      <div class="person">
        <p>Person</p>
        <p class="person">2</p>
      </div>
    </div>

    <p class="price">price</p>
  </div>

  <div class="dish-info">
    <img class="dish-image" src="https://s3-alpha-sig.figma.com/img/0be2/5a36/ae91fd60ad05c4e9165b2fb778165e71?Expires=1664755200&Signature=V7-nL1bjuzbX~3PTBmJdWKtVMg8RyuOJRCZ7dH6PE30jTd4XRhPvGgt0E0DX0kpY~LFsYFSGakZA0CT37MASW--K4zTG-p2dlbpgIoqv-H1n0EzDMDkrGEb7SXJMkjtnVeC8TH4GG91aCzfJQ~~rQC3If6g-oOwA-GAQpuPaJoeA0bmujo-XotWaSanCMBSIgmD6fA6TqZoAM2gyr5xjgYkNipjM3HNMa2C6RfzSW3HUcF6LOw6Z~pBFEmhfRY0J3X9J-oW~Y1EcxhuC5w71IVjB84hq~RXU8YkZOQFG8c2QkQX76SAmkhnRdtbcm9n7f0c7B3syNkHb-tv3ozAASA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="">
    <p class="name"></p>
    <p class="calories"></p>

    <div class="time-and-person-wrapper">
      <div class="time">
        <p>Time</p>
        <p class="time">15</p>
      </div>

      <div class="person">
        <p>Person</p>
        <p class="person">2</p>
      </div>
    </div>

    <p class="price">price</p>
  </div>

</div>
