.main-image-wrapper {
  padding: 37px 60px 0 60px;
}

p {
  margin: 0;
}

.main-image {
  width: 650px;
  height: 650px;
 }

.motto {
  color: #535353;
  font-weight: 700;
  font-size: 45px;
  width: 160px;
}

.main-image-wrapper{
  display: flex;
  justify-content: space-between;
}

.dishes {
  padding: 0 60px 0 60px;
  display: flex;
  justify-content: space-between;
  margin-top: -110px;
  padding-bottom: 75px;
}

.dish-info {
  width: 325px;
  height: 370px;
  background-color: white;
  border-radius: 25px;
  filter:drop-shadow(15px 15px 15px rgba(0, 0, 0, 0.08));
}

.dish-image {
  display: block;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  margin-top: -120px;
}

.name, .calories {
  text-align: center;

}

.name {
  margin-top: -30px;
  font-weight: bold;
  font-size: 26px;
}

.calories {
  font-size: 18px;
  font-weight: bolder;
  color: #ACACAC;
}

.time-and-person-wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 520;
  padding: 40px 18px 0 18px;
}

.time-wrapper{
  text-align: left;
}

.time, .person {
  color: #ACACAC;
  padding-bottom: 18px;
}

.person-wrapper {
  text-align: right;
}

.price {
  padding-top: 15px;
  color: #00503D;
  font-size: 18px;
  text-align: center;
  font-weight: 600;
}

































// https://www.figma.com/file/NB9fefEfKwthCwaK4LZ93g/image/977851b9c795edc03f464ce963657f2592c12f9f?fuid=782692714355641334

// https://s3-alpha-sig.figma.com/img/ab26/ed6e/658f411628a9dfe925ca9a31f051273b?Expires=1664755200&Signature=Ye5mwqTnPslFq378K6otOATRHO5VkETntQvBsacphCeYC4nSTzapQUz3S2-P86nv4stJEYtBW5UiuGKOdNkN4wsRPcEvM9RVxKJdvSZsKxdTHhdEUvwG0h7PenWlK1GKUzyalXSWbD-Woxkj1FwSJOBvxe4sWignWl2FqKvwnzmBa9Oe-mHmJGBOjl4mjV3Zd28zu-TGWhlTwnpowYfecR63GDDy0oXEVgfl5KpbisQzWTrVZ4UaUzZfeSORbgi1a1sX2eBeoZUP0aey3GXm5TQsSYSpj9oDbVw94Sc2~sjL~CtQWgNhnsgVsyhU7IyfEyXMe6W05x0NLw31rrzRMQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA

// https://s3-alpha-sig.figma.com/img/b0a2/2ffd/6f7fe5420a614864dd1b18adb6e9d8d5?Expires=1664755200&Signature=KUpNF4jcRt7-ElPKMU4DY2CFPHdAJrzBgH1NtoGSW~BwYTNh~XeMZXdr-IfICTd4VfcrExqWLd1VVxN~Il5QS63GkpDfAQL21qtf0~a2Y5vBwgAwJMoTge9zUoe1PIopb4~qXKcnKWLwX53Vg1bXjQ5fwijlqW2JlX2vOi5jRj7Ml9r-6hhyJy34rhQcHyoP7Q62e1jn93~izHBB3VxNIDngDLPBR03AjQw4i3-X8zuR7bjNsxpRNkxaGz9KOWjgSuoADrrzAJLgcPNNMMukbUq73BCo~Z55Cy6q8zpbOMO2zmNsDTz38GiTh4wqVhIFpQEg5h9RJ~JUDn9x5oCodQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA
